<div>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="songs">
            <md-content class="md-padding">
                <div layout="column">
                    <div flex="33" layout="row" layout-align="center center">
                        <md-card>
                            <md-card-content>
                                <h2 class="md-title">Now playing</h2>
                                <p>
                                    {{nowPlaying.Title}}
                                </p>
                            </md-card-content>
                            <div class="md-actions" layout="row" layout-align="end center">
                                <md-button ng-click="shuffleSongs()">SHUFFLE</md-button>
                                <md-button>PLAY / PAUSE</md-button>
                                <md-button>NEXT</md-button>
                            </div>
                        </md-card>





                    </div>
                    <div flex="66">
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="song in songs">
                                <img ng-src="{{song.CoverUrl}}" class="md-avatar" alt="{{song.Title}}" />
                                <div class="md-list-item-text">
                                    <h3>{{ song.Title }}</h3>
                                    <h4>{{ song.Author.FullName }}</h4>
                                </div>
                                <div layout="row" layout-align="center center">
                                    <md-button class="md-fab md-mini md-primary" ng-click="updateSong(song)">
                                        <div layout="column" layout-align="center center">
                                            <md-icon style="padding-top:5px" md-font-icon="fa fa-pencil" aria-label="Edit song"></md-icon>
                                        </div>
                                    </md-button>
                                    <md-button class="md-fab md-mini md-primary" ng-click="deleteSong(song)">
                                        <div layout="column" layout-align="center center">
                                            <md-icon style="padding-top:5px" md-font-icon="fa fa-trash-o" aria-label="Edit song"></md-icon>
                                        </div>
                                    </md-button>
                                </div>

                                <md-divider></md-divider>
                            </md-list-item>


                        </md-list>
                    </div>

                </div>
            </md-content>
        </md-tab>
        <md-tab label="playlists">
            <md-content class="md-padding">
                <div>
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="playlist in playlists">
                            <img src="/Images/song.png" class="md-avatar" alt="{{playlist.Title}}" />
                            <div class="md-list-item-text">
                                <h3>{{ playlist.Title }}</h3>
                                <h4>{{ playlist.DateCreated}}</h4>
                            </div>
                            <div layout="row" layout-align="center center">

                                <a class="md-button md-fab md-mini md-primary" href="/playlist/{{playlist.Id}}">
                                    <div layout="column" layout-align="center center">
                                        <md-icon style="padding-top:10px" md-font-icon="fa fa-info" aria-label="Open playlist"></md-icon>
                                    </div>
                                </a>

                                <md-button class="md-fab md-mini md-primary" ng-click="updatePlaylist(playlist)">
                                    <div layout="column" layout-align="center center">
                                        <md-icon style="padding-top:5px" md-font-icon="fa fa-pencil" aria-label="Edit playlist"></md-icon>
                                    </div>
                                </md-button>
                                <md-button class="md-fab md-mini md-primary" ng-click="deletePlaylist(playlist)">
                                    <div layout="column" layout-align="center center">
                                        <md-icon style="padding-top:5px" md-font-icon="fa fa-trash-o" aria-label="Delete playlist"></md-icon>
                                    </div>
                                </md-button>
                            </div>

                            <md-divider></md-divider>
                        </md-list-item>


                    </md-list>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="authors">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Three</h1>
            </md-content>
        </md-tab>
    </md-tabs>





</div>
