<md-dialog aria-label="Add song">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add song</h2>
                <span flex></span>
                <md-button class="md-icon-button">
                    <md-icon clas aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
           
           <form name="songForm" novalidate>
               <md-input-container>
                   <md-icon class="fa fa-pencil"></md-icon>
                   <input ng-model="song.Title" name="title" type="text" placeholder="Title" ng-required="true">
                   <br />
                
               </md-input-container>
               <md-input-container>
                   <md-icon class="fa fa-pencil"></md-icon>
                   <input ng-model="song.CoverUrl" type="text" placeholder="Cover Url" ng-required="true" name="coverUrl">
                   <br />
                 
               </md-input-container>
               <md-input-container>
                   <md-icon class="fa fa-pencil"></md-icon>
                   <input ng-model="song.FileUrl" type="text" placeholder="File Url" ng-required="true" name="fileUrl">
                   <br />
                
               </md-input-container>
               <md-select placeholder="Author" ng-model="song.AuthorId" ng-required>
                   <md-option name="author" ng-repeat="author in authors" value="{{author.Id}}">{{author.FullName}}</md-option>
                   <br />

                 
               </md-select>
               <br />

               <p ng-show="songForm.title.$invalid && !songForm.title.$pristine" style="color:red">
                   <i class="fa fa-warning"></i>
                   Song name is required.
               </p>
               <r />
               <p ng-show="songForm.coverUrl.$invalid && !songForm.coverUrl.$pristine" style="color:red">
                   <i class="fa fa-warning"></i>
                   Song cover is required.
               </p>
            
               <p ng-show="songForm.fileUrl.$invalid && !songForm.fileUrl.$pristine" style="color:red">
                   <i class="fa fa-warning"></i>
                   Song source file is required.
               </p>
               
               <p ng-show="songForm.author.$invalid && !songForm.author.$pristine" style="color:red">
                   <i class="fa fa-warning"></i>
                   Song author is required.
               </p>
             


               <md-button class="md-raised md-primary" ng-click="addSong(song)" ng-disabled="songForm.$invalid">
                   <i class="fa fa-plus"></i>
                   SAVE
               </md-button>
           </form>
            
        </md-dialog-content>
   
</md-dialog>